# I. Importing libraries
##### In this phase, essential libraries are imported to the project. Libraries provide pre-built functionalities that help streamline the development process.

In [2]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import svm
from sklearn.preprocessing import RobustScaler, OrdinalEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from yellowbrick.classifier import confusion_matrix
from sklearn.decomposition import PCA
from xgboost import XGBClassifier

# II. Dataset download
##### This step involves acquiring the dataset required for analysis. Whether it's from a web source, database, or local file, downloading the dataset is crucial for subsequent stages.

In [3]:
data = pd.read_csv('marketing-data/ifood_df.csv')
data.head()

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
0,58138.0,0,0,58,635,88,546,172,88,88,...,0,0,0,0,1,0,0,1529,1441,0
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,0,0,1,0,0,21,15,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,1,0,0,0,1,0,0,734,692,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,1,0,0,0,1,0,0,48,43,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,0,0,1,407,392,0

In [4]:
# Dataset shape
data.shape

(2205, 39)

In [5]:
# Meta data
data.describe()

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,...,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.00000
mean,51622.094785,0.442177,0.506576,49.009070,306.164626,26.403175,165.312018,37.756463,27.128345,44.057143,...,0.257596,0.034467,0.089796,0.024490,0.504762,0.165079,0.215873,562.764626,518.707483,0.29932
std,20713.063826,0.537132,0.544380,28.932111,337.493839,39.784484,217.784507,54.824635,41.130468,51.736211,...,0.437410,0.182467,0.285954,0.154599,0.500091,0.371336,0.411520,575.936911,553.847248,0.68044
min,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,-283.000000,0.00000
25%,35196.000000,0.000000,0.000000,24.000000,24.000000,2.000000,16.000000,3.000000,1.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,56.000000,42.000000,0.00000
50%,51287.000000,0.000000,0.000000,49.000000,178.000000,8.000000,68.000000,12.000000,8.000000,25.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,343.000000,288.000000,0.00000
75%,68281.000000,1.000000,1.000000,74.000000,507.000000,33.000000,232.000000,50.000000,34.000000,56.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,964.000000,884.000000,0.00000
max,113734.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,262.000000,321.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2491.000000,2458.000000,4.00000

In [6]:
# Columns
data.columns

Index(['Income', 'Kidhome', 'Teenhome', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Age', 'Customer_Days', 'marital_Divorced', 'marital_Married',
       'marital_Single', 'marital_Together', 'marital_Widow',
       'education_2n Cycle', 'education_Basic', 'education_Graduation',
       'education_Master', 'education_PhD', 'MntTotal', 'MntRegularProds',
       'AcceptedCmpOverall'],
      dtype='object')

In [8]:
# data types in the dataset
data.dtypes

Income                  float64
Kidhome                   int64
Teenhome                  int64
Recency                   int64
MntWines                  int64
MntFruits                 int64
MntMeatProducts           int64
MntFishProducts           int64
MntSweetProducts          int64
MntGoldProds              int64
NumDealsPurchases         int64
NumWebPurchases           int64
NumCatalogPurchases       int64
NumStorePurchases         int64
NumWebVisitsMonth         int64
AcceptedCmp3              int64
AcceptedCmp4              int64
AcceptedCmp5              int64
AcceptedCmp1              int64
AcceptedCmp2              int64
Complain                  int64
Z_CostContact             int64
Z_Revenue                 int64
Response                  int64
Age                       int64
Customer_Days             int64
marital_Divorced          int64
marital_Married           int64
marital_Single            int64
marital_Together          int64
marital_Widow             int64
education_2n Cycle        int64
education_Basic           int64
education_Graduation      int64
education_Master          int64
education_PhD             int64
MntTotal                  int64
MntRegularProds           int64
AcceptedCmpOverall        int64
dtype: object

# III. Exploratory Data Analysis (EDA)
##### EDA is a preliminary data analysis phase where key statistical and visual techniques are employed to understand the dataset's characteristics, identify patterns, and gain initial insights.

### III.1) Marketing Campaing Analysis

In [9]:
# Selecting only marketing campaing features
campaing_data = data[['AcceptedCmp1',
                 'AcceptedCmp2',
                 'AcceptedCmp3',
                 'AcceptedCmp4',
                 'AcceptedCmp5',
                 'Response',
                 'Complain',
                 'AcceptedCmpOverall']]

campaing_data

,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Response,Complain,AcceptedCmpOverall
0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
2200,0,0,0,0,0,0,0,0
2201,1,0,0,0,0,0,0,1
2202,0,0,0,1,0,0,0,1
2203,0,0,0,0,0,0,0,0
2204,0,0,0,0,0,1,0,0

In [10]:
# Creating classes with the campaing data

# Filter for customers who accepted more than one campaign
more_than_one = campaing_data[campaing_data['AcceptedCmpOverall'] > 1]

# Filter for customers who complained but did not accept any campaign
complain_without_accept = campaing_data[(campaing_data['AcceptedCmpOverall'] == 0) & (campaing_data['Complain'] > 0)]

# Filter for customers who accepted at least once and complained
accepted_once_and_complained = campaing_data[(campaing_data['AcceptedCmpOverall'] == 1) & (campaing_data['Complain'] > 0)]

# Filter for customers who accepted more than once and complained
accepted_more_and_complained = campaing_data[(campaing_data['AcceptedCmpOverall'] > 1) & (campaing_data['Complain'] > 0)]

# Filter for customers who complained
complained = campaing_data[(campaing_data['Complain'] > 0)]

# Filter for customers who accepted at least once
accepted = campaing_data[campaing_data['AcceptedCmpOverall'] > 0]

# Filter for customers who accepted the first campaign
first_adopters = campaing_data[campaing_data['AcceptedCmp1'] == 1]

# Filter for customers who accepted the second campaign
seccmp_adopters = campaing_data[campaing_data['AcceptedCmp2'] == 1]

# Filter for customers who accepted the third campaign
thirdcmp_adopters = campaing_data[campaing_data['AcceptedCmp3'] == 1]

# Filter for customers who accepted the fourth campaign
fourthcmp_adopters = campaing_data[campaing_data['AcceptedCmp4'] == 1]

# Filter for customers who accepted the fifth campaign
fithcmp_adopters = campaing_data[campaing_data['AcceptedCmp5'] == 1]

# Filter for customers who responded positively to the last campaign
last_campaing = campaing_data[campaing_data['Response'] == 1]

# Calculate conversion rates for each campaign and overall
conversion_last = round((last_campaing.shape[0] / campaing_data.shape[0]) * 100)
conversion_1st_cmp = round((first_adopters.shape[0] / campaing_data.shape[0]) * 100)
conversion_2nd_cmp = round((seccmp_adopters.shape[0] / campaing_data.shape[0]) * 100)
conversion_3rd_cmp = round((thirdcmp_adopters.shape[0] / campaing_data.shape[0]) * 100)
conversion_4th_cmp = round((fourthcmp_adopters.shape[0] / campaing_data.shape[0]) * 100)
conversion_5th_cmp = round((fithcmp_adopters.shape[0] / campaing_data.shape[0]) * 100)

# Display a summary of conversion rates, customer counts, and complaint statistics for marketing campaigns.
print(f'For this company, there was a conversion of {conversion_last}% in the last campaing and the following conversions in the first 5 campaigns {conversion_1st_cmp}%,{conversion_2nd_cmp}%,{conversion_3rd_cmp}%,{conversion_4th_cmp} and {conversion_5th_cmp}%, consecutively.\n'
      f'{first_adopters.shape[0]} converted in the first campaign and {last_campaing.shape[0]} converted in the last.\n'
      f'Having a total of {complained.shape[0]} complaints, {complain_without_accept.shape[0]} of which there was no acceptance of the campaign, '
      f'{accepted_once_and_complained.shape[0]} accepted once and {accepted_more_and_complained.shape[0]} accepted more than once.'
)

For this company, there was a conversion of 15% in the last campaing and the following conversions in the first 5 campaigns 6%,1%,7%,7 and 7%, consecutively.
142 converted in the first campaign and 333 converted in the last.
Having a total of 20 complaints, 18 of which there was no acceptance of the campaign, 1 accepted once and 1 accepted more than once.

### III.2) Education Analysis

In [11]:
# Selecting only education level features
education_data = data[['education_2n Cycle',
                 'education_Basic',
                 'education_Graduation',
                 'education_Master',
                 'education_PhD'
                 ]]

#Identifying whether only one education is possible (maximum sum = 1)
education_data['overall_education'] = data['education_2n Cycle'] + data['education_Basic'] + data['education_Graduation'] + data['education_Master'] + data['education_PhD']
education_data.describe()

/tmp/ipykernel_24150/3662878438.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_data['overall_education'] = data['education_2n Cycle'] + data['education_Basic'] + data['education_Graduation'] + data['education_Master'] + data['education_PhD']

,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,overall_education
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.0
mean,0.089796,0.024490,0.504762,0.165079,0.215873,1.0
std,0.285954,0.154599,0.500091,0.371336,0.411520,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,0.000000,0.000000,1.000000,0.000000,0.000000,1.0
75%,0.000000,0.000000,1.000000,0.000000,0.000000,1.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.0

In [12]:
# Creating a single categorical column to designate education
education_data['education_level'] = education_data.idxmax(axis=1)
education_data

/tmp/ipykernel_24150/2899513725.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_data['education_level'] = education_data.idxmax(axis=1)

,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,overall_education,education_level
0,0,0,1,0,0,1,education_Graduation
1,0,0,1,0,0,1,education_Graduation
2,0,0,1,0,0,1,education_Graduation
3,0,0,1,0,0,1,education_Graduation
4,0,0,0,0,1,1,education_PhD
...,...,...,...,...,...,...,...
2200,0,0,1,0,0,1,education_Graduation
2201,0,0,0,0,1,1,education_PhD
2202,0,0,1,0,0,1,education_Graduation
2203,0,0,0,1,0,1,education_Master
2204,0,0,0,0,1,1,education_PhD

In [ ]:
# Plot a bar chart to visualize the frequency of different education levels in the 'education_data' dataset.
plt.figure(figsize=(10, 6))
education_data['education_level'].value_counts().plot(kind='bar', color='skyblue')

# Set plot title and axis labels
plt.title('Levels of education frequency')
plt.xlabel('Education level')
plt.ylabel('Frequency')

# Display the plot
plt.show()

### III.3) Marital Status Analysis

In [ ]:
# Selecting only marital status features
marital_data = data[['marital_Divorced',
                 'marital_Married',
                 'marital_Single',
                 'marital_Together',
                 'marital_Widow']]

#Identifying whether only one marital status is possible (maximum sum = 1)
marital_data['overall_marital'] = data[['marital_Divorced',
                                 'marital_Married',
                                 'marital_Single',
                                 'marital_Together',
                                 'marital_Widow']].sum(axis=1)


marital_data.describe()

In [ ]:
# Creating a single categorical column to designate marital status
marital_data.drop('overall_marital', axis=1)
marital_data['marital_status'] = marital_data[['marital_Divorced',
                                               'marital_Married',
                                               'marital_Single',
                                               'marital_Together',
                                               'marital_Widow']].idxmax(axis=1)

In [ ]:
# Plot a bar chart to visualize the frequency of different marital statuses in the 'marital_data' dataset.
plt.figure(figsize=(10, 6))
marital_data['marital_status'].value_counts().plot(kind='bar', color='skyblue')

# Set plot title and axis labels
plt.title('Marital status frequency')
plt.xlabel('Marital status')
plt.ylabel('Frequency')

# Display the plot
plt.show()

### III.4) Rebuilding Dataset

# IV. Data Cleaning and Preparation
##### This phase focuses on cleaning and transforming the data to ensure it is in a suitable format for analysis. Tasks may include handling missing values, addressing outliers, and organizing the data structure.

# V. Baseline modeling
##### Baseline modeling establishes an initial predictive model using simple algorithms or default parameters. This serves as a benchmark for more complex models, helping evaluate their performance.

# VI. Modeling
##### In this stage, various machine learning models are implemented and fine-tuned to achieve optimal predictive performance. The goal is to choose the model that best fits the dataset and problem requirements.

# VII. Pipeline creation
##### A data processing pipeline is constructed to automate and streamline the entire workflow, from data preprocessing to model deployment. Pipelines enhance reproducibility and facilitate collaboration.